
/* Desktop Styles */
.centered-line {
  text-align: center;
  margin-top: 20px;
}
.social-icon {
  margin: 0 10px;
  font-size: 24px;
  color: #9A76C1;
  text-decoration: none;
}
@font-face {
  font-family: 'SF Pro Display', sans-serif;
  src: url('Fonts/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
.spacers {
    color:#f6ecfd
}
.image-caption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.image-caption-container img {
  max-width: 720px; /* Increased size */
  margin: 10px;
}
.image-caption-container .caption {
  max-width: 1080px;
  font-family: 'SF Pro Display', sans-serif;
  color: #9A76C1;
  padding: 10px;
}
.image-left .caption {
  order: 2;
}
.image-left img {
  order: 1;
}
.image-right .caption {
  order: 1;
}
.image-right img {
  order: 2;
}
